#calcBody {
    height: 600px;
    width: 420px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#displayDiv {
   width: 95%;
   height: 20%;
   margin: 10px;
   background-color: grey;
   border: 1px solid white; 
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

#displayText {
    font-size: 70px;
}

#buttonDiv {
    width: 95%;
    height: 72%;
    background-color: black;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.actionBtn{
    flex: 1 2 20%;
    background-color: #37A987;
    border-radius: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 6px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opBtn {
    flex: 1 2 20%;
    background-color: #4B3D8F;
    border-radius: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 6px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zeroBtn {
    flex: 1 1 47%;
    background-color: #B7B1D2;
    border-radius: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 6px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numBtn {
    flex: 1 2 20%;
    background-color: #B7B1D2;
    border-radius: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 6px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnText {
    margin: 0;
    z-index: 2;
    font-size: 25px;
}